.show-alert {
  margin: 25px auto;
  width: 90%;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 8px 20px;
}
.warn {
  color: tomato;
  background: rgba(255, 50, 50, 0.1);
  padding: 8px 20px;
  border: 1px solid tomato;
}
.success {
  color: green;
  background: rgba(50, 255, 50, 0.1);
  padding: 8px 20px;
  border: 1px solid green;
}
form {
  display: block;
  width: 90%;
  max-width: 500px;
  margin: 80px auto;
  padding: 20px 10px 40px;
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
form h4 {
  color: #555;
  margin: 20px 25px;
  font-size: 1.2rem;
}
form input {
  padding: 8px 15px;
  margin: 5px auto;
  display: block;
  width: 80%;
  border: 1px solid #ccc;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1rem;
}
form input:focus {
  border: 1px solid #aaa;
}
.button {
  margin: 0 10%;
  padding: 8px 0;
  background: #fbb40c;
  color: #666;
  width: 140px;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

input:valid {
  border: 1px solid #ccc;
}
.link {
  color: #aaa;
  margin: 20px 10% 0;
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
}

.responseMessege {
  width: 90%;
  max-width: 600px;
  margin: 25px auto;
  border-radius: 5px;
}
.visible-danger {
  padding: 20px 25px;
  background: white;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
  color: tomato;
}
